body {
  /* background-color: #282828; */
  background-color: black;
}

section {
  display: flex;
  flex-direction: column;
  place-content: center;
  /* justify-content: center; */
  background-color: hsl(0, 0%, 28%);
  color: white;
  padding: 1rem;
  border-radius: 0.2rem;
  margin: 2rem 12rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

section h2 {
  margin: 0.5rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  /* background-color: hsl(0, 0%, 43%); */
  background-color: black;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  /* padding: 0rem 1rem; */
  border-radius: 1rem;
}

.card img {
  width: 200px;
  height: 200px;
  /* border-radius: 50%; */
}

.card h3 {
  margin: 0.5rem;
}

.card p {
  margin: 0.5rem;
  padding-bottom: 1rem;
}

svg {
  width: 30px;
  height: 30px;
  /* margin-right: 1rem; */
  margin-left: 2rem;
  padding-top: 0.5rem;
  /* display: none; */
}

svg:hover {
  display: none;
}

.card-flex {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
